@import "tailwindcss";

nav {
    background-color: rgb(255, 255, 255);
    color: black;
}

.Header {
    background-color: #1F7272;
}

.build{
    color: #1F7272;
    font-size: 25px;
}

.bgs {
    background-color: #1F7272;
    color: white;
    font-weight: bold;
}

.bg {
    background-color: #1F7272;
}

.accen {
    accent-color:#1F7272 !important
}